.volta_topo{
    position: fixed;
    bottom: 8vh;
    right: 5vh;
}

.volta_topo img{
    width: 9vh;
}

@media screen and (max-width:440px){
    .volta_topo{
        right: 1vh;
        bottom: 8.5vh;
    }
    .volta_topo img{
        width: 6vh;
    }
}