#habilidades {
    background-color: #093475;
}

.habilidades-pd {
    padding-top: 190px;
    padding-bottom: 140px;
}

.habilidades-pd h2 { 
    text-align: center;
    padding-bottom: 80px;
    font-family: 'merienda';
    color: white;
    font-size: 40px;
}

.icones-habilidades{
    width: 60px;
}

.conteiner-habilidades{
    align-items: center;
}

.skills-descricao {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:50px;
    padding-bottom: 70px;
}

.conteiner-skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    max-width: 55%;
}

.skill-box {
    height: 120px;
    width: 120px;
    background-color: #e3e3e3ae;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    transition: ease 0.3s;
}

.skill-box:hover {
    background-color: rgb(73, 73, 73);
    transform: scale(1.05);
}

.conteiner-descricao {
    text-align: center;
    color: white;
    font-family: 'Quando', serif;
    font-size: 25px;
    max-width: 60%;
}


@media (max-width:1200px) {

    .conteiner-descricao {
        height: 260px;
    }

    #habilidades {
        display: flex;
        justify-content: center;
    }

    .skills-descricao {
        display: flex;
        flex-direction: column-reverse;
        margin: 0 auto;
        gap:60px;
        padding-bottom: 70px;
        align-items: center;
    }

    .skills-descricao p {
        text-align: center;
    }

}
@media (max-width:950px) {
    .conteiner-skills {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 37px;
        max-width: 300px;
    }

    .conteiner-descricao {
        max-width: 300px;
    }

}

.skill-box .icones-habilidades {
    transition: ease-in-out 0.5s;
}
