#habilidades {
    background-color: #3B3291;
    border-bottom: solid rgba(0, 192, 250, 0.377);
}

.habilidades-pd {
    padding-top: 190px;
    padding-bottom: 140px;
    text-shadow: 1.5px 1.5px 2px rgba(0, 0, 0, 0.685);
}

.habilidades-pd h2 { 
    text-align: center;
    padding-bottom: 80px;
    font-family: 'merienda';
    color: white;
    font-size: 40px;
    text-shadow: 1.5px 1.5px 2px rgba(0, 0, 0, 0.685);
}

.icones-habilidades{
    width: 60px;
}

.conteiner-habilidades{
    align-items: center;
}

.skills-descricao {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:70px;
    padding-bottom: 70px;
}

.conteiner-skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    max-width: 55%;
}

.skill-box {
    height: 120px;
    width: 120px;
    background-color: #e3e3e3ae;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    transition: ease 0.3s;
}

.skill-box:hover {
    background-color: rgb(255, 255, 255);
    transform: scale(1.40);
}

.conteiner-descricao {
    text-align: center;
    color: white;
    font-family: 'Quando', serif;
    font-size: 25px;
    max-width: 60%;
}