
.projetos {
    text-align: center;
    padding-top: 100px;
    background: #3B3291;
    border-bottom: solid rgba(0, 192, 250, 0.377);
    padding-top: 10%;
    padding-bottom: 12%;
}

.projetos h1{
    font-family: 'merienda';
    color: white;
    font-size: 40px;
}

.projetos-img {
    display: flex;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 100px;
}

.projetos-img img{
    width: 70%;
    margin-bottom: 20px;
    border-radius: 20px;
}
