
.projetos {
    text-align: center;
    padding-top: 100px;
    background: #3B3291;
    border-bottom: solid rgba(0, 192, 250, 0.377);
    padding-top: 10%;
    padding-bottom: 14%;
}

.projetos h1{
    font-family: 'merienda';
    color: white;
    font-size: 40px;
    text-shadow: 1.5px 1.5px 2px rgba(0, 0, 0, 0.685);
    margin-bottom: 10vh;
}

.projetos-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10vh;

}

.projetos-img img{
    width: 30vh;
    margin-bottom: 20px;
    border-radius: 20px;
    transition: all 0.6s;
}

.projetos-img img:hover{
    width: 40vh;
}
