@font-face {
    font-family: 'Merienda';
    src: url(../fontes/Merienda-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Fair Prosper';
    src: url(../fontes/Fair\ Prosper.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 5%;
    position: absolute;
    width: 100%;
    z-index: 100;
    border: solid whit;
}

header .logo {
    width: 50%;
    margin-top: 130px;
    margin-right: 50px;
}

header h1:hover{
    text-decoration: underline rgba(1, 147, 196, 0.215);
}

header nav {
    display: flex;
    gap: 15px;
}

header nav a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 750;
    padding: 8px 20px;
    border-radius: 99px;
    transition: 0.3s;
    color: white;
}

header nav a.active {
    background: rgba(1, 147, 196, 0.500);
}

header nav a:hover {
    background: rgba(1, 147, 196, 0.500);
}

header nav:hover > a:not(:hover) {
    background: none;
}

.inicio {
    display: flex;
    height: 100dvh;
    background: linear-gradient(to top, #D2E2FB 30%, #86A8DB);
    position: relative;
    overflow: hidden;
}

.inicio img {
    position: absolute;
    bottom: 0;
    width: 100%;
    pointer-events: none;
}

.inicio .title {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 57px;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    font-family: 'merienda';
}
.inicio .title p{
    font-size: 30px;
    font-family: 'merienda';
}

#IF{
    font-size: 15px;
    color: rgba(37, 245, 37, 0.737);
}

.sobre {
    padding: 50px;
    background: #3B3291;
    color: white;
    position: relative;
    z-index: 1000;
}

.sobre h1 {
    font-size: 40px;
    text-align: center;
}