@font-face {
    font-family: 'Merienda';
    src: url(../fontes/Merienda-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Fair Prosper';
    src: url(../fontes/Fair\ Prosper.ttf);
}

.img-voltatopo img{
    width: 50%;
}

.img-voltatopo{
    position: fixed;
    bottom: 50px;
    right: 0px;
}

.show-button .img-voltatopo{
    right: 0px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

header{
    background-color: #093475;
    padding-bottom: 0.2rem;
}

.barra-nav {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.img-logo{
    width: 20rem;
}

.logo{
    display: flex;
    align-items: center;
}

.lista-nav{
    display: flex;
    align-items: center;
}

.lista-nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.item-nav{
    margin: 0 30px;
}

.link-nav{
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    font-family: 'Merienda';
}

.responsivo-icon{
    display: none;
}

.menu-responsivo{
    display: none;
}

@media screen and (max-width: 1300px) {
    .barra-nav{
        padding: 1.5rem 1rem;
    }
    .item-nav{
        display: none;
    }
    .responsivo-icon{
        display: block;
    }
    .responsivo-icon button{
        margin-top: 3rem;
        margin-right: 1.5rem;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .menu-responsivo ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .menu-responsivo .item-nav{
        display: block;
        padding-top: 1.2rem;
    }
    .abrir{
        display: block;
    }
}




.inicio {
    display: flex;
    height: 85dvh;
    background: linear-gradient(to top, #7284a4 20%, #093475);
    position: relative;
    overflow: hidden;
    z-index: 100;
}

.inicio img {
    position: absolute;
    bottom: 0;
    width: 100%;
    pointer-events: none;
}

.inicio .title {
    position: absolute;
    top: 35%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3.5rem;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 15);
    font-family: 'merienda';
}

.inicio .title p{
    font-size: 3rem;
    font-family: 'merienda';
}

#IF{
    font-size: 2rem;
}

.sobre {
    padding: 50px;
    background: #3B3291;
    border-bottom: solid rgba(0, 192, 250, 0.377);
    color: white;
    position: relative;
    padding-top: 200px;
    padding-bottom: 400px;
    text-align: center;
}

.sobre h1 {
    font-family: 'Merienda';
    font-size: 40px;
    box-shadow: solid black;
}

.sobre p{
    font-size: 20px;
}